[submodule "home/zsh/zsh-autosuggestions"]
	path = stow/zsh/dot-zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "home/zsh/zsh-async"]
	path = stow/zsh/dot-zsh/zsh-async
	url = https://github.com/mafredri/zsh-async.git
